/*Tipografias importadas*/

  @import url('https://fonts.googleapis.com/css2?family=Lobster+Two&family=Pacifico&display=swap');


/*Selector Universal*/

*{ margin: 0px;
   padding:0px;
   list-style: none;
   text-decoration: none;}

body {background-color:#f8cbcb}

a {color: #ffffff;
    text-decoration: none;}

/*header parte logo*/

.logo {display: flex;}
.logo img { justify-content: left;}
.logo article {float: right;
               justify-content: right;}

#Buscador {background: url(https://cdn0.iconfinder.com/data/icons/slim-square-icons-basics/100/basics-19-32.png) no-repeat 0px 5px;
           background-color: white;
           width: 100%;
           border: transparent;         
           justify-content: center;
           outline: none;
           border-radius: 1px;
           font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}

.barranavegacion nav { display: flex;
                      flex-direction: row;
                      justify-content: center;
                      text-decoration: none;}

.barranavegacion {  color: #ffffff;
                    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                    font-weight: lighter;
                    text-decoration: none;}

.op1 {background-color:#e7b0b0;}
.op2 {background-color:#f1a4a2;}
.op3 {background-color:#e49393;}
.op4 {background-color:#f18080;}
.op5 {background-color:#ee5a5a;}

header {background-color:#e7c4be;}

header h1 {font-family: Pacifico;
          color:#ffffff;
          font-weight: lighter;}

header h3 {color:#e49393;
           font-family:Lobster Two;
           font-weight: light;}

footer {color:#ffffff;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        background-color:#e7c4be;}  
       
footer p {text-align: center;
          background-color: #f1a4a2;}

footer h3 { font-family: lobster Two;
            font-weight: lighter;}
    
footer nav {display: flex;}
    
footer ul {display: flex;
               flex-direction: row;}
     
             
.Promociones,.Testimonios { text-align: center;}



.Promociones h3,.Testimonios h3 { color:#ffffff;
                                  text-decoration: underline;
                                  font-family:Lobster Two;
                                  font-weight: lighter;}

.Comentarios h3 {color: #ffffff;
                 font-family:Lobster Two;
                 font-style: italic;
                 font-weight: lighter;
                 border-color: #ddad9f;}

.formulario  {display: flex;
             justify-content: center;
             padding: 10px;
             border-style: dashed;
             border-color:#ddad9f;
             border-width:2px;}

.formulario li  { font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                  color:#ca9e91;
                  text-decoration: underline;
                  font-weight: bold;
                  font-style: italic;
                  justify-content: center;}

.formulario h3 {color: #ffffff;
                font-family:Lobster Two;
                font-weight: lighter;
                text-align:center;}

table { background-color: #ffffff;
        text-align: center;
        border-collapse:collapse;
        font-family:Georgia, 'Times New Roman', Times, serif;
        color: #ca9e91;
        border: #ca9e91;
        border-radius: 5px;}
          
table th {background-color: lightcoral;
          color: #ffffff;}
          
table tr td b {color: lightcoral;}
          
table tr td i {color: #e7c4be;}

.nosotras p, .productos li {color:#ffffff;
                            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}

.nosotras h2, .productos h2 {color:#ffffff;
                             font-family: lobster two;
                             text-decoration: underline;
                             font-weight: lighter;
                             text-align: center;}
                             .container{ width: 100%;
                                height:355px;
                                justify-content: center;
                                display: flex;
                                flex-direction: row;}
                     
.card h4 {text-align: center;
         font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: #ffffff;}
                              
.card {background-color:#f18080;
        border: none;}

.nosotras,.presentacion,.quehacemos {display: flex;
                                     flex-direction:row;}

.imagenes{display: flex;
          justify-content: center;}



/*Dispositivos moviles: celulares*/

@media (min-width: 0px) and (max-width: 390px)  {

.logo img { width: 100px ;
            height: 100px;}            

.logo article { padding: 10px;}


#Buscador { width:100%;
            height: 30px;
            font-size: 10px;}

.barranavegacion{font-size: 10px;
                 width: 100%;}

.opcion {width: 20%;
        height: 30px;
        padding: 10px;
        text-align: center;}

header {width: 100%;
        height: 150px;}

header h1 { margin-top: 10px;
            font-size: 16px;}
    
header h3 { font-size:12px;
            margin-bottom:10px;}

footer {    width: 100%;
            height:150px;}  

footer h3 { margin: 15px;
            font-size: 15px;}

.Testimonios img {height: 100px;
                  width: 20%;
                  margin-bottom: 15px;}

.Promociones h3,.Testimonios h3 {margin: 10px;
                                 font-size: 15px;}
.Promociones img {width: 23%;
                 height: 80px;}

.Comentarios h3 {margin:10px;
                 font-size: 15px;}

.formulario li  {font-size: 15px;}

.formulario {margin-block: 5px;}

.formulario h3 {font-size: 15px;}
                         
table {width: 100px; 
        height: 100px;
        border-radius: 5px;
        margin: 5px;}

table th {font-size: 15px;}

table tr td {font-size: 10px;}

.nosotras p, .productos li {font-size: 10px;}

.nosotras h2, .productos h2 {font-size: 10px;
                             margin-top: 5px;}

.container{ width: 100%;
           height:355px;
           justify-content: center;
           display: flex;
           flex-direction: row;}

.card h4 {font-size: 5px;}
         
.card {margin: 5px;
       width: 50px;
       height: 86px;}

.card a {font-size: 5px;}

.container .card img {width: 50px;
                      height:50px;}

.nosotras,.presentacion,.quehacemos {display: flex;
                           flex-direction:row;
                           margin: 10px;
                           padding: 10px;}

.logoredes {width: 20px;
           height: 20px;
           margin: 5px;}

.imagenes img { width: 50px;
                height:50px;
                justify-content: center;
                margin:5px;}
}

/*tablets*/

@media (min-width: 321px) and (max-width: 768px) {}

       
 @media (min-width: 769px) {

.logo img { margin-left: 20px;
           height: 200px;
           width: 200px;}
            
.logo article { margin:  15px;
                padding: 50px;}
            
#Buscador { background: url(https://cdn0.iconfinder.com/data/icons/slim-square-icons-basics/100/basics-19-32.png) no-repeat 0px 5px;
           width: 100%;
           padding: 10px 10px 10px 30px;
           font-size: 15px;}
           
.barranavegacion { font-size: 20px;}
            
.opcion{width: 100%;
        height: 50px;
        padding: 10px;}

header {width: 100%;
        height: 300px;}
            
header h1 {margin-left: 10px;
           font-size: 30px;}
            
header h3 {font-size:22px;
           margin-left:10px;
           margin-bottom:10px;}
            
footer {width: 100%;
        height:150px;}  
            
footer h3 { margin: 15px;
            font-size: 20px;}
            
.Testimonios img {margin-left: 3px;
                  margin-bottom: 40px;}
            
.Promociones h3,.Testimonios h3 {margin: 10px;
                                font-size: 25px;}
.Comentarios h3 {margin:10px;
                font-size: 20px;}
            
.formulario  {padding: 20px;}
            
.formulario li  { margin-left: 20px;
                margin-bottom: 10px;
                font-size: 20px;}
            
.formulario h3 {font-size: 30px;
                margin-left: 10px;}

.formulario {border-width:5px;
             margin: 10px;}
            
table { margin-block: 30px;
        width: 900px; 
        height: 100px;
        border-radius: 5px;}
            
table th {font-size: 25px;}
            
table tr td b {font-size: 25px;}
            
table tr td i {font-size: 20px;
               margin-block: 20px;
               line-height: 25px;}
            
.nosotras p, .productos li {font-size: 20px;
                            margin: 10px;}
            
.nosotras h2, .productos h2 {font-size: 25px;
                             margin-top: 20px;}
            
.container{width: 100%;
           height:355px;
           margin-bottom: 20px;}
            
.card h4 {margin-top: 20px;}
                     
.card {margin: 20px;}

.container .card img {width: 220px;
                     height:220px;}

.nosotras,.presentacion,.quehacemos {margin: 10px;
                                     padding: 10px;}


.logoredes {width: 45px;
            height: 45px;
            margin-left:20px;}
            
.imagenes img { width: 250px;
                height: 250px;
                margin-top: 30px;
                margin-bottom: 30px;
                margin-right: 5px;
                margin-left: 5px;}
            
            }