/*Tipografias importadaa*/

@import url('https://fonts.googleapis.com/css2? family= Pacifico & display=swap');
@import url('https://fonts.googleapis.com/css2? family= Langosta & display=swap');


/*Selector Universal*/

*{ margin: 0px;
   padding:0px;
   list-style: none;
   text-decoration: none;}

/*Etiquetas grupales*/

 body {background-color: #e7c4be;} 
.Barra_Navegación {background-color: #ddad9f;}

a {color: #ffffff;
   text-decoration: none;}
   
 header {width: 100%;
         height:400px;
         background-color: #e7c4be;}

 header h1 {font-style: italic;
            font-family:Pacifico;
            color:#ffffff;
            font-weight: lighter;
            margin-left: 10px;}


 header h3 {color: #cea294;
            font-weight:bolder;
            font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-size: 22px;
            margin-left:10px}

 footer {color: #ffdbd3;
         font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
         width: 100%;
         height:100px;
         background-color:#ddad9f;}  

 footer p {text-align: center;}

 footer a {margin: 10px;
           font-size:20px;}
 
         
.Promociones,.Testimonios { text-align: center;}

.formulario {border-style: dashed;
             border-color:#ddad9f;
             border-width:5px;
             margin: 10px;}

/*Estilos puntuales*/

.Barra_Navegación {text-align: center;}

.Promociones h3,.Testimonios h3 {margin: 10px;
                                  color: #d9ab9d;
                                  font-size: 25px;
                                  text-decoration: underline;
                                  font-family:Pacifico;
                                  margin: 10px;
                                  font-weight: lighter;}

.Comentarios{color: #ffffff;
             margin:10px;
             font-family:pacifico;
             font-style: italic;
             font-weight: lighter;
             font-size: 20px;
       border-color: #ddad9f;}

textarea {margin: 10px;}

 /*Tabla de Horarios¨*/
 
 body table { background-color: #ffffff;
              margin:0 auto;
              margin-block: 30px;
              text-align: center;
              border-collapse:collapse;
              width: 900px; 
              height: 100px;
              font-family:Georgia, 'Times New Roman', Times, serif}

table th {background-color: lightcoral;
          font-size: 25px;
          color: #ffffff;}

table tr td b {color: lightcoral;
               font-size: 25px;}

table tr td i {color: #e7c4be; 
               font-size: 20px;
               margin-block: 20px;
              line-height: 25px;}
 
 
  